.main {
    background: #ccc;
  }
  
  .modal {
    align-items: center;
    justify-content: center;
    display:flex;
  }
  
  .modal-header {
    background-color: #009688;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
  }
  
  .modal-content {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFaceIn ease 0.6s;
  }
  
  .modal-body {
    padding: 0 16px;
    margin: 0 12px;
  }
  
  .modal-label {
    display: block;
    padding: 16px 0;
    font-size: 15px;
  }
  
  .modal-input {
    width: 100%;
    padding: 8px;
  }
  
  #btn-login:hover {
    background-color: #ccc;
    color: #000;
  }
  
  #btn-login {
      width: 100%;
      margin-top: 13px;
      padding: 12px;
      background-color: #009688;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
  }